<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img routerLink="/" class="toolbar-logo" src="../../assets/white_logo.png" alt="Linguista logo">
      <span class="example-spacer"></span>
      <button routerLink="/" mat-button><mat-icon class="example-icon">home</mat-icon></button>
      <button routerLink="/about" mat-button><mat-icon class="example-icon">work</mat-icon></button>
      <button routerLink="/login" mat-button><mat-icon class="example-icon">account_circle</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
