::ng-deep snack-bar-container.error-snackbar {
  background-color: #e45346;
}
::ng-deep .error-snackbar .mat-simple-snackbar {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

