<div class="col-md-6">

  <form class="change-password-form" (ngSubmit)="changePassword()">
    <h1 class="mat-h1 change-password-header">Zmień hasło</h1>

    <mat-form-field class="change-password-full-width">
      <input matInput required placeholder="Stare hasło" min="6" max="20"  [formControl]="oldPasswordFormControl" name="newPassword" id="newPassword" type="password">
      <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
        Podanie starego hasła jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="change-password-full-width">
      <input matInput required placeholder="Nowe hasło" min="6" max="20" name="oldPassword" id="oldPassword" type="password" [formControl]="newPasswordFormControl">
      <mat-error *ngIf="newPasswordFormControl.hasError('required')">
        Podanie hasła jest <strong>wymagane</strong>
      </mat-error>
      <mat-error *ngIf="newPasswordFormControl.hasError('minlength') || newPasswordFormControl.hasError('maxlength')">
        Hasło musi mieć od <strong>6 do 20</strong> znaków
      </mat-error>
    </mat-form-field>


    <mat-form-field class="change-password-full-width">
      <input matInput required placeholder="Potwierdź hasło" min="6" max="20" name="passwordConfirm" id="passwordConfirm" type="password" [formControl]="passwordConfirmFormControl">
      <mat-error *ngIf="passwordConfirmFormControl.hasError('required') || passwordConfirmFormControl.hasError('notMatchingPassword')">
        Hasła nie zgadzają się
      </mat-error>
    </mat-form-field>


    <button mat-flat-button class="change-password-button">Zmień hasło</button>
  </form>

</div>
