.change-password-form {
  position: relative;

  min-width: 150px;
  max-width: 500px;
  width: 100%;

  margin: auto;
  top:100px;
}

.change-password-full-width {
  width: 100%;
}

.change-password-button{
  width: 100%;
}

.change-password-header {
  top: 100px;
  text-align: center;
}

