<div class="col-md-6">

  <form class="register-form" (ngSubmit)="registerUser()">
    <h1 class="mat-h1 register-header">Register new account</h1>

    <mat-form-field class="register-full-width">
      <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" id="email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="register-full-width">
      <input matInput placeholder="Password" min="6" max="20" [(ngModel)]="user.password" name="password" id="password" type="password" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength') || passwordFormControl.hasError('maxlength')">
        Password must be between <strong>6 and 20</strong> characters
      </mat-error>
    </mat-form-field>


    <mat-form-field class="register-full-width">
      <input matInput placeholder="Confirm password" min="6" max="20" [(ngModel)]="passwordConfirm" name="passwordConfirm" id="passwordConfirm" type="password" [formControl]="passwordConfirmFormControl">
      <mat-error *ngIf="passwordConfirmFormControl.hasError('required') || passwordConfirmFormControl.hasError('notMatchingPassword')">
        Passwords must match
      </mat-error>
    </mat-form-field>


    <button mat-flat-button class="register-button">Register</button>
  </form>

</div>
