<div class="col-md-6">

  <form class="login-form" (ngSubmit)="loginUser()">
    <h1 class="mat-h1 login-header">Zaloguj się</h1>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Nazwa użytkownika lub email" name="email" id="email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Podaj adres email
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-full-width">
      <input matInput placeholder="Hasło" min="6" max="20" name="password" id="password" type="password" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Hasło nie może być puste
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="login-button">Zaloguj</button>

  </form>

</div>



